*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(220, 231, 240);
}
#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cell {
    border: 5px solid aqua;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.cell:not(.disabled):hover {
    background: rgba(132, 136, 151, 0.644);
}

.cell:nth-child(-n + 3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-last-of-type(-n + 3) {
    border-bottom: none;
}


.x::after {
    content: 'x';
    font-size: 40px;
    color: rgb(48, 46, 46);
}

.o::after {
    content: 'o';
    font-size: 45px;
    color: rgb(48, 46, 46);

}

.game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(36, 35, 35, 0.5) 0 0 0 9999px;
}

.game-Draw {
    position: absolute;
    top: -200px;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    transform: translateX(-30%);
}
.restart{
 
    height: 50px;
    width:100px;
    background-color: rgb(8, 55, 77);
   
    font-size: 20px;
    font-weight: bold;
    color: wheat;
    cursor: pointer;
  
   
}

.visible {
    display: block;
}